<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "招聘标题" %>
    <%= f.text_field :title, class: 'text' %>
  </div>

  <div class="field">
    <%= f.label "公司名称" %>
    <%= f.text_field :company_name, class: 'text' %>
  </div>

  <div class="field">
    <%= f.label "公司网站" %>
    <%= f.text_field :url, class: 'text' %>
  </div>

  <div class="field reset">
    <%= f.label "工作类型" %>
    <% Job::JOB_TYPE.each_with_index do |t,i| %>
      <%= f.radio_button :job_type, i %> 
      <%= f.label :job_type, t, :value => t, :class => "inline" %>
    <% end %>
  </div>
  
  <div class="field reset">
    <%= f.label "工作分类" %>
    <% Job::OCCUPATION.each_with_index do |o,i| %>
      <%= f.radio_button :occupation, i %> 
      <%= f.label :occupation, o, :value => o, :class => "inline" %>
    <% end %>
  </div>
  <div class="field reset">
    <%= f.label "工作城市" %>
    <% Job::CITY.each_with_index do |c,i| %>
      <%= f.radio_button :city, i %> 
      <%= f.label :city, c, :value => c, :class => "inline" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "工作地址" %>
    <%= f.text_field :location, class: 'text' %>
  </div>
  <div class="field">
    <%= f.label "工作描述" %>
    <%= f.text_area :description, class: 'text' %>
  </div>
  <div class="field">
    <%= f.label "如何应征" %>
    <%= f.text_area :apply_information, class: 'text' %>
  </div>

  <div class="field">
    <%= f.label "结束日期" %>
    <%= f.text_field :deadline, class: 'text' %>
  </div>
  <div class="actions pull-right">
    <%= link_to '返回', jobs_path %>
    <%= f.submit "确认提交" %>
  </div>
<% end %>
