<p class='post-job clearfix'>
  <%= link_to '发布新工作', new_job_path  %>
</p>

<table class='joblist' cellspacing="0">
  <thead>
    <tr>
      <th>张贴日期</th>
      <th>工作职称</th>
      <th>公司名称</th>
      <th>工作地点</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.company_name %></td>
        <td><%= job.occupation %></td>
        <td><%= job.location %></td>
      </tr>
    <% end %>

    <tr>
      <td>2014-07-22</td>
      <td>Senior Ruby Developer Bitcoin</td>
      <td>Bitspark</td>
      <td>Taiwan (or remote)</td>
    </tr>

  </tbody>
</table>

<br>


