<p class='pull-right'>
  <%=link_to "所有工作", admin_jobs_path(all: true)%>
  <%=link_to "待验证工作", admin_jobs_path%>
</p>

<table class='joblist' cellspacing="0">
  <thead>
    <tr>
      <th width='5%'>张贴<br/>日期</th>
      <th>工作职称</th>
      <%unless mobile_device? %>
        <th width='15%'>公司<br/>名称</th>
        <th width='15%'>工作</br>地点</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.created_at.to_date %></td>
        <td>
          <%= link_to job.title, job %>
        </td>
        <%unless mobile_device? %>
          <td><%= job.company_name %></td>
          <td><%= job.location %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @jobs %>


